body {
    margin: 0;
}

*:focus {
    outline: none;
}

/* nav bar */

.nav_bar {
    height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: white;
    border: 1px lightgray solid;
    padding: 10px 5px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-around;
}

.nav_bar .navbar_item {
    height: 100%;
    margin: 0 40px;
}

.search_bar {
    width: 40%;
    border: 1px lightgray solid;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1px;
}

.search_area {
    border: 0;
    width: 100%;
    height: 100%;
    padding: 0 10px;
}

.search_icon {
    height: 100%;
}

.nav_spacer {
    flex: 1;
}

.main_menu {
    border: 0;
    display: flex;
    flex-direction: row;
    justify-content:  flex-start;
    align-items: center;
    box-sizing: border-box;
}

.main_menu .menu_item {
    max-height: 100%;
}

.main_menu .menu_item:not(:last-child) {
    margin-right: 20px;
}

/* modals */

#modal_background {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    visibility:visible;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.login_style_modal {
    background-color: white;
    width: 40%;
    height: 60%;
    overflow: auto;
    display: flex;
    padding: 30px 120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.login_title {
    font-size: 36px;
    margin-bottom: 20px;
}

/* login - signup modal */
.login_textbox {
    border: 0;
    border-bottom: 1px lightgray solid;
    width: 100%;
    margin: 20px 0;
}

.login_textbox:hover, .login_textbox:focus {
    border-color: black;
}

.login_textbox.invalid {
    border-color: red;
}

.login_textbox.invalid::placeholder {
    color: red;
}

.login_button {
    border: 1px solid lightgray;
    background-color: transparent;
    width: 30%;
    margin: 20px 0;
}

.login_button:hover {
    cursor: pointer;
    border-color: black;
}

.login_button_space {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
}

.login_form_separator {
    flex: 1;
}

.form_switch_link_container {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}