.upvote:hover, .downvote:hover, .comment_upvote:hover, .comment_downvote:hover {
    cursor: pointer;
}

.upvote_space:hover, .downvote_space:hover, .comment_upvote_space:hover, .comment_downvote_space:hover {
    cursor: default !important;
}


.upvote_space.active, .comment_upvote_space.active {
    color: orangered !important;
}

.downvote_space.active, .comment_downvote_space.active {
    color: dodgerblue !important;
}