.action:hover {
    cursor: pointer;
}

.action_space:hover {
    cursor: default !important;
}


.upvote_space.active_action, .comment_upvote_space.active_action {
    color: orangered !important;
}

.downvote_space.active_action, .comment_downvote_space.active_action {
    color: dodgerblue !important;
}

.save_space.active_action {
    color: gold !important;
}