.action:hover {
    cursor: pointer;
}

.action_space:hover {
    cursor: default !important;
}


.upvote_space.active_vote, .comment_upvote_space.active_vote {
    color: orangered !important;
}

.downvote_space.active_vote, .comment_downvote_space.active_vote {
    color: dodgerblue !important;
}